@charset "UTF-8";

body{
    background-color: #80438E;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #E6B440;
}

h1#principal{
    text-align: center;
    background-color: rgb(190, 60, 60);
}

h2{
    color: #20E3A0;
}

.basico{
    color: #20E3A0;
    font-weight: bold;
}

.intermediario{
    color: #30e320;
}

.avancado{
    color: #e32020;
}
.destaque{
    background-color: rgba(194, 82, 82, 0.801);
}