@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
body, html{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: rgb(0, 0, 0);
}
header h1{
    padding: 10px;
    text-align: center;
    color: white;
}
span#burguer{
    border-top: 1px solid;
    border-bottom: 1px solid;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
    cursor: pointer;
}
#burguer:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(61, 61, 61, 0.804);
    color: white;
    border-top: 2px solid rgb(132, 112, 112);
}
menu a:hover{
    background-color: rgb(146, 145, 145);
}
main{
    width: 90vw;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article h2{
    padding-bottom: 20px;
    color: whitesmoke;

}
article p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    color: white;
}