@charset 'UTF-8';

*{
    padding: 0;
    margin: 0;
    font-family: arial;
    object-fit: cover;
}
body{
    background-color: black;
    color: white;
}
header{
    border-bottom: 1px solid;
    padding: 5px;
    background-image: linear-gradient(to bottom, #2020cd 20%, black);
    color: white;
}
header nav{
    height: 40px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: scroll;
    border-top: 1px solid;
}
header ul{

}
header li{
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-left: 10px;
}
header li:hover{
    border-bottom: 1px solid gray;
    
}
header span.material-symbols-outlined {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
header div#titulo{
    margin: -5px;
    padding: 10px;
    background: #2020cd;
    color: white;
    height: 25px;
}
header div#titulo h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
header img#principal{
    margin: 10px;
    width: 97%;
    border-radius: 10px;
    border: 1px solid;
} 

img#icone{
    display: inline-block;
    border: 1px solid;
    border-radius: 50%;

    padding: 7px;
}
header h2#nome{
    display: inline-block;
    vertical-align: 50%;

}
header p#descrição{
    font-size: 13px;
}
header button{
    background-color: black;
    color: white;

    font-weight: bold;

    padding: 5px 20px;
    width: 30%;
    margin: 10px 0px;

    border: 1px solid;
    border-radius: 20px;

}
header button span{
    font-size: 15px !important;
}
header div#botaoo{
    text-align: center;
}
main{
    background-color: black;
    color: white;
}
main section{
    margin: 0px 10px;
}
main section img{
    display: inline-block;
    width: 30%;
    border-radius: 15px;
}
main section p.descrição{
    display: inline-block;
    vertical-align: baseline;

}