@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightcyan;
    height: 100vh;
    width: 100vw;
}
header{
    background-color: gray;
    color: white;
    padding: 10px;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
header h1{
    /*border: 1px dashed;*/
    flex: 0 0 200px;
}
nav{
    /*border: 1px dashed ;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
nav a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: white;
    color: black;
    transition: background-color .2s;
}
main{
    background-color: rgba(133, 133, 133, 0.635);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(54, 54, 54, 0.722);
}


@media screen and (max-width: 600px) {
    header , nav{
        flex-flow: column nowrap;
    }
    header h1{
        flex-basis: 50px;
    }
    nav a {
        width: 90vw;
    }
}