@charset "UTF-8";

/*Declarações gerais*/
@media all{
    *{
        margin: 0px;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    html, body{
        background-color: #233eff;
        width: 100vw;
        height: 100vh;
    }
    body{
        background-size: contain;
        background-repeat: no-repeat;
    }
    h1{
        color: wheat;
        text-shadow: 3px 3px 3px #23edff;
    }
}
/*Declarações Retrato*/
@media screen and (orientation:portrait){
    body{   
    background-image: url(../../imagens/cev-portrait.jpg);
    background-position: center bottom;
    }
    
}
/*Declarações Paisagem*/
@media screen and (orientation:landscape) {
    body{
    background-image: url(../../imagens/cev-landscape.jpg);
    background-position: left bottom;
    }
}